rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /candidates/{candidateId} {
      allow read, write: if true;
    }
    match /user_profiles/{email} {
      allow read, write: if true;
    }
    match /requirement_companies/{companyId} {
      allow read, write: if true;
    }
  }
}
